<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article – Personal Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="container form-page">
    <h1>New Article</h1>

    <form action="/admin/add" method="POST">

        <div>
            <label>Title</label><br>
            <input type="text" name="title" placeholder="Article Title" required>
        </div> 

        <br>

        <div>
            <label>Date</label><br>
            <input type="date" name="date" placeholder="Date" required>
        </div>

        <br>

        <div>
            <label>Content</label><br>
            <textarea name="body" placeholder="Content" required></textarea>
        </div>

        <br>

        <button type="submit">Create Article</button>

    </form>

    </div>
    
</body>
</html>