<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard – Personal Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <div class="container admin-page">

        <div class="admin-header">
            <h1>Personal Blog</h1>
            <a href="/admin/add" class="add-btn">+ Add</a>
        </div>

        <hr>

        <% if (articles.length === 0) { %>
            <p>No articles Yet. Create One</p>
        <% } else { %>
            <ul>
            <% articles.forEach(article => { %>
                    <li class="admin-item">

                        <a href="/articles/<%=article.id %>" class="admin-title"><%=article.title %></a>  
                        
                        <div class="admin-actions">
                            <a href="/admin/edit?id=<%= article.id %>" class="edit-btn">Edit</a>
                            <form action="/admin/delete/<%= article.id %>" method="POST">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </div>

                    </li>
                
                <% }) %>
            </ul>
        <% } %>
    </diiv>
</body>
</html>