<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Article</h1>

<form method="POST" action="/admin/edit">
    <input type="hidden" name="id" value="<%= article.id %>">

    <div>
        <label>Title</label><br>
        <input type="text" name="title" value="<%= article.title %>" required>
    </div>

    <div>
        <label>Date</label><br>
        <input type="date" name="date" value="<%= article.date %>" required>
    </div>

    <div>
        <label>Content</label><br>
        <textarea name="body" rows="10" cols="50" required>
            <%= article.body %>
        </textarea>
    </div>

    <button type="submit">Update Article</button>
</form>

    
</body>
</html>